<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="robot_to_gripper_joint" type="fixed">
        <parent link="wrist_3_link" />
        <child link="egp50_base_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <xacro:include filename="$(find workcell_description)/urdf/shunk_egp50.xacro" />
    <xacro:schunk_egp50 />
</robot>