<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="world">
    </link>

    <xacro:property name="robot_base_length" value="0.30" />
    <xacro:property name="robot_base_width" value="0.52" />
    <xacro:property name="robot_base_height" value="0.99" />
    <xacro:property name="robotcell_length" value="1.44" />
    <xacro:property name="robotcell_width" value="0.94" />
    <xacro:property name="robotcell_height" value="1.13" />


    <joint name="world_to_robotcell_joint" type="fixed">
        <parent link="world" />
        <child link="robotcell_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="robotcell_link">
        <visual>
            <origin rpy="0 ${-pi} ${-pi/2}" xyz="${-robot_base_length} ${-robot_base_width} ${robot_base_height}" />
            <geometry>
                <mesh filename="package://workcell_description/meshes/Robotcell.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${-pi} ${-pi/2}" xyz="${-robot_base_length} ${-robot_base_width} ${robot_base_height}" />
            <geometry>
                <mesh filename="package://workcell_description/meshes/Robotcell.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

</robot>