<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_workcell">

    <!-- loading robotcell from workcell_description package-->
    <xacro:include filename="$(find workcell_description)/urdf/robot_cage.xacro" />
    <!-- loading robot  from workcell_description package-->
    <xacro:include filename="$(find workcell_description)/urdf/robot.xacro" />
    <!-- loading gripper from workcell_description package-->
    <xacro:include filename="$(find workcell_description)/urdf/gripper.xacro" />
    <!-- loading camera from workcell_description package-->
    <xacro:include filename="$(find workcell_description)/urdf/camera.xacro" />
    <xacro:include filename="$(find workcell_description)/urdf/gazebo_control.xacro" />

</robot>