<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_workcell">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5e_workcell urdf file -->
    <xacro:include filename="$(find workcell_description)/urdf/workcell.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5e_workcell.ros2_control.xacro" />


    <xacro:ur5e_workcell_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
